# SECTION 1- Core Programming Principles

## Variables - Used to store values

In [1]:
#Integers
a = 2
print(a)

2

In [2]:
#Float
b =  2.34
print(b)

2.34

In [3]:
#Data type of the variable
type(b)

float

In [4]:
#Typecasting 
str(76)

'76'

## Arithmetic

In [5]:
#Addition
a + b

4.34

In [6]:
#Division
8 / 2

4.0

In [7]:
#Modulus - resturns the reminder
7 % 5

2

In [8]:
# // - rounds the result down
9 // 5

1

## Maths Functions

In [9]:
import math

In [10]:
#squareroot
math.sqrt(8)

2.8284271247461903

In [11]:
#round - rounds off
round(math.sqrt(8))

3

In [12]:
#trunc - tructates a number
math.trunc(math.sqrt(8))

2

## Strings -  sequence of characters within quotes

In [13]:
greeting = "Hello"
name = "Joe"
#concatenation
message = greeting + " " + name
print(message)

Hello Joe

In [14]:
#Access Strings
name[-1]

'e'

In [15]:
#String methods - upper(), replace(), find()
name.upper()

'JOE'

In [16]:
greeting.find('l')

2

In [17]:
name.replace('J', 'Z')

'Zoe'

## Bolean Variables and Operators

In [18]:
4 > 5

False

In [19]:
10 < 34

True

In [20]:
9 == 5

False

In [21]:
#not
result1 = not(4 > 5)
result1

True

In [22]:
type(result1)

bool

## LOOPS

In [23]:
#While Loop - iterates until the condition in the argument is not met
counter = 0
while counter < 12:
    print(counter)
    counter = counter + 1
print("end of loop")

0
1
2
3
4
5
6
7
8
9
10
11
end of loop

In [24]:
#For loop
for i in range(5):
    print("Hi there", i)

Hi there 0
Hi there 1
Hi there 2
Hi there 3
Hi there 4

In [25]:
#Looping through a list
date = [1972, 1993, 1996, 1997, 2006]
for year in date:
    print(year)

1972
1993
1996
1997
2006

In [26]:
#Accessing the index & the elements of a list using enumerate
for i, year in enumerate(date):
    print(i, year)

0 1972
1 1993
2 1996
3 1997
4 2006