# SECTION 2 - Python Fundamentals

## List 
- Key type of data structures in Python 
- Mixed data types 
- Can be mutable(changeable)

---

In [1]:
numbers = [19, 8, 4, 56]
numbers

[19, 8, 4, 56]

In [2]:
type(numbers)

list

In [3]:
#List with mixed data types
Person = ["Ava", 7, "girl", "dancing", 23.5, True]

In [4]:
#Nested List 
l3 = ['Hi there', 49, Person]
l3

['Hi there', 49, ['Ava', 7, 'girl', 'dancing', 23.5, True]]

In [5]:
#range- contains the values but doesnot store them in memory
range(14)

range(0, 14)

In [6]:
list(range(14))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [7]:
x = list(range(5, 12))
x

[5, 6, 7, 8, 9, 10, 11]

In [8]:
#Specifying the step(2) in range
y = list(range(23, 40, 2))
y

[23, 25, 27, 29, 31, 33, 35, 37, 39]

In [9]:
z = list(range(200, 350, 10))
z

[200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340]

In [10]:
#Accessing elements in a list
age = Person[1]
age

7

In [11]:
#length of a list
len(l3)

3

In [12]:
len(Person)

6

In [13]:
#extend()
numbers.extend('7')
numbers

[19, 8, 4, 56, '7']

In [14]:
#append() - adds only 1 element to the list
numbers.append(3)
numbers

[19, 8, 4, 56, '7', 3]

In [15]:
#split() - separates a string into a list based on the argument, the string is split using spaces
"Hello world".split()

['Hello', 'world']

In [16]:
#copy & clone a list
A = ['HI', 45, False]
B = A[:]
print(B)

['HI', 45, False]

In [17]:
#Overwriting elements in a list
B[1] = 23
B

['HI', 23, False]

### -- Slicing

In [18]:
num = list(range(1,9))
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
num[2:4]

[3, 4]

In [20]:
num[1::3]

[2, 5, 8]

In [21]:
letters = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
letters[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [22]:
letters[1::2]

['b', 'd', 'f', 'h']

In [23]:
letters[::-1]

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

## Tuples 
immutable(unchangeable) list

---

In [24]:
tuple1 = ('smile', 5.6, 90)
tuple1

('smile', 5.6, 90)

In [25]:
#Nested tuple
tuple2 = ('food', (4, 'hi'), tuple1)
tuple2

('food', (4, 'hi'), ('smile', 5.6, 90))

In [26]:
#Accessing an element in a  nested tuple
tuple2[1][0]

4

## Dictionary 
key:value pairs - keys are used to access values within a dictionary

---

In [27]:
Friends = {"Pam":6, "Joe":23, "Ken":[3, 8, 5], ('Kate'):5, (0,1):6}
Friends

{'Pam': 6, 'Joe': 23, 'Ken': [3, 8, 5], 'Kate': 5, (0, 1): 6}

In [28]:
#Getting all the values in a dictionary
Friends.values()

dict_values([6, 23, [3, 8, 5], 5, 6])

In [29]:
#Getting all the keys in a dictionary
Friends.keys()

dict_keys(['Pam', 'Joe', 'Ken', 'Kate', (0, 1)])

In [30]:
#Accessing a dictionary
Friends["Joe"]

23

In [31]:
#Append a value with a key in a dictionary
Friends['Hobby'] = "dance"
Friends

{'Pam': 6, 'Joe': 23, 'Ken': [3, 8, 5], 'Kate': 5, (0, 1): 6, 'Hobby': 'dance'}

In [32]:
#delete entries by Key
del(Friends['Pam'])
Friends

{'Joe': 23, 'Ken': [3, 8, 5], 'Kate': 5, (0, 1): 6, 'Hobby': 'dance'}

In [33]:
#verify if the key is in the dictionary
'Pam' in Friends

False

## Sets 
Unique collection of objects in Python. 
 Python automatically deletes/removes duplicate items

---

In [34]:
set1 = {'love', 'peace', 'joy', 9, 'joy', 'love','love'}
set1

{9, 'joy', 'love', 'peace'}

In [35]:
#Convert list to set
letter_set = set(letters)
letter_set

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}

### -- Set Operations

In [36]:
#add() -  adds an element to a set
set1.add(45)
set1

{45, 9, 'joy', 'love', 'peace'}

In [37]:
#remove() -  removes an item from a set
set1.remove('joy')
set1

{45, 9, 'love', 'peace'}

In [38]:
#in - verifies if an item is in the set
'peace' in set1

True

### -- Set Logic Operations

In [39]:
set2 = {5, 8, 45, 'food', 'love', 10}
set2

{10, 45, 5, 8, 'food', 'love'}

In [40]:
#Intersection
Intersection = set1 & set2
Intersection

{45, 'love'}

In [41]:
#Another way to find the intersection
set1.intersection(set2)

{45, 'love'}

In [42]:
#difference() - Finding elements that are only contained in set1
set1.difference(set2)

{9, 'peace'}

In [43]:
#union - all elements in both sets
set1.union(set2)

{10, 45, 5, 8, 9, 'food', 'love', 'peace'}

In [44]:
#Superset of another
set1.issuperset(set2)

False

In [45]:
#Checking if a set is a subset of another set
set1.issubset(set2)

False

In [46]:
set3 = {5, 8}
set3.issubset(set2)

True

## Funtions - reusable block of code that performs operations
- predefined eg: range(), print(), len(), type(), min(), return()
- user defined

---

In [47]:
mylist = list(range(56, 67))
mylist

[56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66]

In [48]:
max(mylist)

66

In [49]:
#return() - useful in IF statements in the function, when you want the output to be dependant on some condition
def student(name, age):
    print(name, age)
    if age > 12:
        return "teenage"
    else:
        return "below 13 years"
Kate = student("Katerah", 10)
print(Kate)

Katerah 10
below 13 years

In [50]:
#Addition Function
def add(a):
    b = a + 1
    return(b)
add(1)

2